<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <div class="form-group honeypot">
          <%= label_tag :email_confirmation %>
          <%= text_field_tag :email_confirmation , nil, tabindex: '-1' %>
          <!-- <span class="help">Do not fill in this field. It is an anti-spam measure.</span> -->
      </div>

      <!-- <div class="form-group honeypot", style="display:none">
          <%= label_tag :content %>
          <%= text_field_tag :content, nil, tabindex: '-1' %>
          <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
      </div>
 -->
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>